#carouselExampleCaptions{
    max-width: 600px;
    margin-top: 15px;
}
article{
    display: flex;
    justify-content: center;
}
.collapse{
    justify-content: flex-end;
    margin-right: 30px;
}
#pizza{
    margin-bottom: 30px;
}
#pizzacard{
    max-width: 1100px;
    margin-top: 30px;
}
.carousel-inner{
    border-radius: 15px;
}
.btn-link.focus, .btn-link:focus, .btn-link:hover {
    box-shadow: none;
    text-decoration: none;
    background-color: #666666!important;
}